<h1>Make a New Workout</h1>
<%= link_to "New Workout", new_workout_path %>




<h1>A list of all the workouts!</h1>

<div class="workouts">
	<hr>
	<hr>
	<% @workouts.each do |workout| %>
		<div class="workout">
			<%= workout.title %>
			<br>
			<%= workout.description %>
			<br>
			<%= workout.video_url %>
			<br>
			<%= workout.min_lvl %>
			<br>
			<%= workout.min_reps %>
			<br>
			<%= link_to "View Workout", workout, class: 'button hollow' %>
			<br>
			<%= link_to "Edit Workout", edit_workout_path(workout), class: 'button hollow' %>
			<br>
			<%= link_to "Delete Workout", workout_path(workout), method: :delete, class: 'delete-workout', remote: true, class: 'button hollow' %>
			<br>
		</div>
			<br>
			<hr>
	<% end %>
	<hr>
	<hr>


</div>
