<h1>Workouts#show</h1>
<p>Find me in app/views/workouts/show.html.erb</p>


<h1><%= @workout.title %></h1>
<small><%= @workout.description %></small>
<hr>
<br>
<h4>Min Level: <%= @workout.min_lvl %></h4>
<h4>Min Reps: <%= @workout.min_reps %></h4>
<h4>Video Url: <%= @workout.video_url %></h4>


