<h1>Tell Us More About Yourself . . . </h1>



<div class="grid-container fluid">
  <div class="grid-x">
    <div class="cell small-2"></div>
    <div class="cell small-8 text-center">
      <%= form_with model: @user, id: "update-info" do |f| %>
        
        <%# f.label :state %><br />
        <%# select_tag(:state, options_for_select(CS.states(:us)), :include_blank => true)%>
        
        <div class="field">
          <%= f.label :city %><br />
          <small>You're from Utah for Now.</small>
          <div id="get-city">
          <%= f.select :location, CS.cities(:ut, :us), include_blank: true %>
          </div>
          
        </div>
        

        <div class="field">
          <%= f.label :height %><br />
          <%= f.select(:height, @heights, include_blank: true) %>
        </div>

        <div class="field">
          <%= f.label :weight %><br />
          <%= f.text_field :weight, :class => 'validate' %>
        </div>

        <div class="field">
          <%= f.label :birthday %><br />
        
          <%= f.text_area :birthday, :class => 'validate' %>
        </div>

        <div class="field">
          <%= f.label :gender %><br />
        
          <%= f.text_area :gender, :class => 'validate' %>
        </div>

        <div class="field">
          <%= f.label :difficulty %><br />
        
          <%= f.text_area :difficulty, :class => 'validate' %>
        </div>
        <br>

      <div class="actions">
        <%= f.submit "That's It!", :class => 'hollow button secondary' %>
      </div>
      <br>
    <% end %>

   
    </div>
  </div>
</div>

