<h1>This is the progress page.</h1>
<% @workouts.each do |wo| %>
  <%= wo.title %>
  <%= wo.min_lvl %>
  <%= wo.description %>
<% end %>

<ul class="accordion" data-accordion>
	<% User.exp_per_lvl.each do |level| %>
  <li class="accordion-item <% if current_user.lvl == level[0] %> is-active player-level<% end %>" data-accordion-item>
    <!-- Accordion tab title -->
    
    <a href="#" class="accordion-title text-center">
    	<span class="text-left">
    		Level <%= level[0] %>
    	</span>
    	<span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
    	<span class="text-right">
    		Experience Required <%= level[1] %>
    	</span>
    </a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      <ul class="level-workouts">
        <% @workouts.where(min_lvl: level[0] - 1).each do |workout| %>
          <li>
            O <%= workout.title %>
          </li>
        <% end %>
      </ul>
      <a href="#">Nowhere to Go</a>
    </div>
  </li>
  <% end %>
  <!-- ... -->
</ul>