<h1 class="text-center"><%= current_user.username %>'s Dashboard</h1>
<div class="row">
	<div class="grid-x">
		<div class="small-1 columns"></div>
		<%= content_tag :div,
		  id: "clockbar",
		  class: "small-10 columns text-center",
		  data: {
		    wav: current_user.wav,
		    name: 'ryan',
		    hourArray: current_user.hourbar_array,
		    dayScoreArray: current_user.day_score_workout(Time.now.to_date),
		    hydrateScoreArray: current_user.day_score_hydration(Time.now.to_date),
		    hydrated: current_user.is_hydrated,
		}.to_json do %>

		<% end %>
		<%= javascript_pack_tag 'clockbar' %>
	</div>
</div>
<br>
<br>
<hr>

<h3>ActiveRecordTime <%= Time.now %></h3>
<h3>Last Created Record: <%= current_user.hourly_scores.last.created_at.in_time_zone("Mountain Time (US & Canada)") %></h3>
<h3>Hydrated this hour: <%= current_user.is_hydrated %></h3>
<h3>Experience: <%= current_user.experience %></h3>
<h3>Current Hour Complete? <%= current_user.current_complete %></h3>
<h3>Wav: <%= current_user.wav %></h3>
<h3>Last Three Scores</h3>
<% current_user.hourbar_array.each do |score| %>
<p><%= score %></p><br>
<% end %>
<h3>Score array by date: <%= current_user.day_score_workout(Time.now.to_date) %></h3>
<h3>Score array by date: <%= current_user.day_score_hydration(Time.now.to_date) %></h3>

<div class="reveal" id="workout-modal" data-reveal>
  <h1>The <%= @r_workout.title.capitalize %></h1>
  <p class="lead">Do <%= @r_workout.min_reps %> <%= @r_workout.title %>s! </p>
  <p><%= @r_workout.description %></p>
  <%= render "workouts/form" %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="hydrate-modal" data-reveal>
  <h1>Hydration is the key!</h1>
  <p class="lead">Drinking water regularly throughout the day will make you smarter, faster and sexier. </p>
  <p></p>
  <%= render "workouts/hydrate" %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="exampleModal3" data-reveal>
  <h2>You've gained 50 exp!</h2>

  <button class="close-button" id="exp-notice" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<div class="reveal" id="shotdown" data-reveal data-close-on-click="true" data-animation-in="spin-in" data-animation-out="spin-out">
  <h1>Sorry, bro!</h1>
  <p class='lead'>You have already pwned this hour. Check back next hour!</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
	$('#exp-notice').on('click', function(){
		
		setTimeout("location.reload();", 100);
	});

	
</script>