<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="grid-container fluid">
  <div class="grid-x">
    <div class="cell small-2"></div>
    <div class="cell small-8 text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        
        <%# f.label :state %><br />
        <%# select_tag(:state, options_for_select(CS.states(:us)), :include_blank => true)%>
        
        <div class="field">
          <%= f.label :city %><br />
          <small>You're from Utah for Now.</small>
          <div id="get-city">
          <%= f.select :location, CS.cities(:ut, :us), include_blank: true %>
          </div>
          
        </div>
        

        <div class="field">
          <%= f.label :height %><br />
          <%= f.select(:height, @heights, include_blank: true) %>
        </div>

        <div class="field">
          <%= f.label :weight %><br />
          <%= f.text_field :weight, :class => 'validate' %>
        </div>

        <div class="field">
          <%= f.label :birthday %><br />
        
          <%= f.text_field :birthday, :class => 'validate span2', id: 'birthday', placeholder: 'MM/DD/YYYY', :required => true %>
        </div>

        <div class="field">
          <%= f.label :gender %><br />
          <%= f.select(:gender, @gender, include_blank: true) %>
        </div>
        <div class="text-center">
          <h4>Choose Your Difficulty Level</h4>
          <small>You can change it at any time.</small>
        </div>
        <br>
        <div class="grid-x">
          <div class="small-4 columns text-center">Casual</div>
          <div class="small-4 columns text-center">Hardcore</div>
          <div class="small-4 columns text-center">Extreme!</div>
        </div>
        <div class="grid-x text-center">
        
          <div class="switch small-4 columns success">
            <input class="switch-input" id="diff-easy" type="radio" value="easy" checked name="user[difficulty]">
            <label class="switch-paddle" for="diff-easy">
              <span class="show-for-sr">Easy</span>
            </label>
          </div>

          <div class="switch small-4 columns warning">
            <input class="switch-input small-4 columns" value="medium" id="diff-medium" type="radio" name="user[difficulty]">
            <label class="switch-paddle" for="diff-medium">
              <span class="show-for-sr">Medium</span>
            </label>
          </div>

          <div class="switch small-4 columns alert">
            <input class="switch-input" id="diff-hard" value="hard" type="radio" name="user[difficulty]">
            <label class="switch-paddle" for="diff-hard">
              <span class="show-for-sr">Hard</span>
            </label>
          </div>

        </div>

        <br>
        <hr>
        <br>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'hollow button secondary' %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'hollow button secondary' %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
