<div class="grid-container fluid">
  <div class="grid-x">
    <div class="cell small-2"></div>
    <div class="cell small-8 text-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.hidden_field :difficulty, value: "easy" %>
        <%= f.hidden_field :coins, value: 200 %>

        <div class="field">
          <%= f.label :username %><br />
          <i class="fi-x" id="username_fail" style="display: none; color: red;">Taken</i>
          <i class="fi-check" id="username_win" style="display: none; color: green;">Available!</i>
          <%= f.text_field :username, :class => 'validate', id: 'new_username' %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <i class="fi-x" id="email_fail" style="display: none; color: red;">Already in Use . . .</i>
          <i class="fi-check" id="email_win" style="display: none; color: green;">You're good!</i>
          <%= f.email_field :email, :class => 'validate', id: 'new_email' %>
        </div>

        <div class="field">
          <%= f.label :birthday %><br />
        
          <%= f.date_field :birthday, :class => 'validat', id: 'birth', placeholder: 'MM/DD/YYYY', :required => true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>



        <div class="actions">
          <%= f.submit "Sign up", class: "hollow button secondary" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>